body {
    font-family: "Montserrat", sans-serif;
    color: #001730;
    max-width: 100%;
    margin: 0px;
}

h2 {
    font-family: "Libre Baskerville";
    font-size: 2rem;
    color: #001730;
    margin-left: auto;
}

button {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

/* header: logo + menu*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F1B814;
    padding: 10px 20px;
}

.menu-togle {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 32rem; /*26.82 vw es el equivalente a 515px*/
    max-width: 515px;
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #001730;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a .heart {
    color: red;
}

.button {
    background-color: white;
    color: #001730;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #f0f0f0;
    color: #001730;
}

/* */

.container {
    display: flex;
    margin: 20px;
}

.left-section, .right-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 3;
    margin-right: 20px;
}

.right-section {
    flex: 2;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.section input, .discount-code input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section button, .discount-code button {
    background-color: #c82a49;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.section button:hover, .discount-code button:hover {
    background-color: #a02038;
}

.card-details {
    display: flex;
    gap: 10px;
}

.card-details input {
    flex: 1;
}

.right-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
}

.item-details p {
    margin: 0;
}

.summary {
    margin-top: 20px;
}

.summary p {
    font-weight: bold;
}

.discount-code {
    display: flex;
    margin: 10px 0;
}

.discount-code input {
    flex: 1;
    margin-right: 10px;
}

.discount-code button {
    padding: 10px;
}

.summary button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #c82a49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.summary button:hover {
    background-color: #a02038;
}

/* Estilo Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #001730;
    font-size: 20px;
    font-weight: medium;
    
}

.contact-us {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

/* Estilo Countries */

.countries-section {
    background-color: #F1B814;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.countries-section h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}


.countries-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.countries-section ul li {
    margin: 0;
}

.countries-section ul li a {
    text-decoration: none;
    color: #001730;
    font-size: 14px;
    font-weight: bold;
    
}