body {
    font-family: "Montserrat", sans-serif;
    color: #001730;
    max-width: 100%;
    margin: 0px;
}


h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 4vw; /*3.12 vw es el equivalente a 60px*/
    font-weight: 700;
    margin-left: 2%;
}



/* Estilos de la sección menú de navegación */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1B814;
    padding: 10px 20px;
}

.menu-togle {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 27vw; /*26.82 vw es el equivalente a 515px*/
    max-width: 515px;
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #001730;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a .heart {
    color: red;
}

.button {
    background-color: white;
    color: #001730;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #f0f0f0;
    color: #001730;
}

/* Estilos de la sección hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 1px;
    background-color: #D9D9D9;
}

.hero-image {
    display: flex;
    align-items: center;
    position: relative;
    width: 69%; /* La imagen ocupa el 70% aprox */
    background-image: url('/Users/vero/Documents/Projet-ecommerce/library.jpg');
    background-size: cover;
    background-position: center;
    height: 25em; /* conversor: https://nekocalc.com/es/px-a-em-conversor*/
}

.hero-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 23, 48, 0.7); 
}

.hero-text {
    position: relative;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.hero-text h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    margin: 0 0 30px 0;
}

.hero-text p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.search-box {
    background-color: white;
    padding: 2rem;
    max-width: 30%;
    color: #001730;
    margin: auto;
}

.search-box h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    margin: 0 0 20px 0;
}

.search-box form {
    display: flex;
    flex-direction: column;
}

.search-box form input,
.search-box form button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #001730;
}

.search-box form input {
    font-weight: lighter;
}

.search-box form button {
    font-weight: 700;
}

.search-box form button {
    background-color: #BD1E51; 
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos de la sección categorías */

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 1.25rem;
    position: relative;
}

.categories::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 1px;
    background-color: #D9D9D9;
}

.category-item {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.category-item img {
    max-width: 4.4rem;
    height: 4.4rem;
    margin-bottom: 10px;
}

.category-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #001730;
    font-weight: bold;
}

/* Estilos de la sección Meilleures Ventes */

.best-sellers {
    padding: 1.25rem;
}

.best-sellers h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    justify-items: center;
}

.heart-fav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

.heart.favorited {
    color: red;
}

.grid-item {
    position: relative;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 19rem;
    height: 30rem;
}

.grid-item img {
    max-width: 14rem; 
    height: 16rem;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.grid-item p {
    font-size: 1rem;
    color: #555;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.rating span {
    margin: 0 5px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-family: montserrat;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

.new-price {
    background-color: #BD1E51; /* libros nuevos */
    color: white;

}

.used-price {
    background-color: #F1B814; /* libros de ocasión */
    color:#001730;
}

/* Estilo puntos carrusel */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.carousel button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #490B3D;
}
.dots {
    display: flex;
    gap: 10px;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: #490B3D;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background-color: #BD1E51;
}

/* Estilos Destacados IG & 2hand */

.recommendations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.recommendation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.recommendation-item img {
    width: 200px;
    height: auto;
    border: 5px solid #F1B814;
}

.recommendation-item h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.recommendation-item button {
    background-color: #BD1E51;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.recommendation-item button:hover {
    background-color: #a11a42;
}

/* Estilos Top Clients */

.top-clients {
    max-width: 900px;
    margin: 0 auto;
}

.top-clients h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.client-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;

}

.client-item img {
    width: 150px;
    height: 250px;
    border: 5px solid #F1B814;
    border-radius: 5px;
    margin-right: 20px;
    background-size: fit;

}

.client-details {
    display: flex;
    flex-direction: column;
}

.client-details h3 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.client-details p {
    font-size: 1rem;
    margin: 0 0 10px 0;
    color: #001730;
}

.client-details .rating {
    color: #FFD700;
    margin-bottom: 10px;
}

.client-details button {
    background-color: #BD1E51;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: auto;
}

.client-details button:hover {
    background-color: #a11a42;
}



/* Media Queries para pantallas más pequeñas */

@media (max-width: 1024px) {
    
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    

    .hero {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 2rem;
        padding-top: 1.25rem;
    }

    .hero-text p {
        font-size: 1rem;
        padding-bottom: 1.25rem;

    }

    .hero-image {
        width: 100%;
        height: auto; /* conversor: https://nekocalc.com/es/px-a-rem-conversor */
    }

    .search-box {
        max-width: 90%;
        margin: 1.25rem auto;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .grid-item {
        width: 18rem;
        height: auto;
    }

    /* Estilo recomendations (revisar no funciona)*/

    .recommendations {
        flex-direction: column;
    }

    .recommendation-item {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .recommendation-item img {
        margin-bottom: 20px;
    }

    .recommendation-text {
        align-items: center;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        align-items: center;
    }
    
    .logo-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo {
        width: auto;
        max-width: 80%;
    }

    .menu-togle {
        display: none;
    }

    nav {
       
        text-align: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
    

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2rem;
        padding-top: 2.5rem;
    }

    .hero-text p {
        font-size: 1.2rem;
        padding-bottom: 2.5rem;

    }

    .hero-image {
        width: 100%;
        height: 20rem;
    }

    .search-box {
        max-width: 100%;
        background-color: #F1B814;
    }

    .search-box form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);  /*2 columnas para pantallas pequeñas */
    }

    /* estilo top clients */

    .client-item {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .client-image img {
        margin-bottom: 20px;
    }

    .client-details {
        align-items: center;
    }

    .client-details button {
        align-self: center;
    }
}

    

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
    
    .logo {
        width: 18rem;
    }

    nav ul {
        display: none;
    
    }

    .logo-container {
        max-width: 100%;
    }

    .menu-togle {
        display: block;
        background-color: #F1B814;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
    }
    
    .button {
        width: 100%;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2rem;
        padding-top: 1.25rem;
    }

    .hero-text p {
        font-size: 1rem;
        padding-bottom: 1.25rem;

    }

    .hero-image {
        width: 100%;
        height: auto; /* conversor: https://nekocalc.com/es/px-a-rem-conversor */
    }

    .categories {
        background-color: rgba(217, 217, 217, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .search-box h2 {
        font-size: 1.2rem;
    }

    .search-box {
        max-width: 90%;
    }

    .best-sellers h2 {
        font-size: 1.5rem;
    }

    .grid-item {
        width: 18rem;
        height: auto;
    }

    .grid-container {
        grid-template-columns: 1fr;  /*1 columna */
    }
}
