body {
    font-family: "Montserrat", sans-serif;
    color: #001730;
    max-width: 100%;
    margin: 0px;
}

h2 {
    font-family: "Libre Baskerville";
    font-size: 2rem;
    color: #001730;
    margin-left: auto;
}

button {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

/* Styles section menu de navigation + logo */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F1B814;
    padding: 10px 20px;
}

.menu-togle {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 32rem;
    max-width: 515px;
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #001730;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a .heart {
    color: red;
}

.button {
    background-color: white;
    color: #001730;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #f0f0f0;
    color: #001730;
}

/* Styles section hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 1px;
    background-color: #D9D9D9;
}

.hero-image {
    display: flex;
    align-items: center;
    position: relative;
    width: 69%;
    background-image: url('./images/library.jpg');
    background-size: cover;
    background-position: center;
    height: 25rem;
}

.hero-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 23, 48, 0.7); 
}

.hero-text {
    position: relative;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.hero-text h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    margin: 0 0 30px 0;
}

.hero-text p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.search-box {
    background-color: white;
    padding: 1.78rem;
    max-width: 30%;
    color: #001730;
    margin: auto;
}

.search-box h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    margin: 0 0 20px 0;
}

.search-box form {
    display: flex;
    flex-direction: column;
}

.search-box form input,
.search-box form button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #001730;
}

.search-box form input {
    font-weight: lighter;
}

.search-box form button {
    background-color: #BD1E51; 
    color: white;
    border: none;
    cursor: pointer;
}

/* Styles section catégories */

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 1.25rem;
    position: relative;
}

.categories::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 1px;
    background-color: #D9D9D9;
}

.category-item {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.category-item h3 {
    font-size: 1rem;
}

.category-item img {
    max-width: 4.4rem;
    height: 4.4rem;
    margin-bottom: 10px;
}

.category-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #001730;
    font-weight: bold;
}

/* Styles section Meilleures Ventes */

.best-sellers {
    padding: 1.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    justify-items: center;
}

.heart-fav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

.heart.favorited {
    color: red;
}

.grid-item {
    position: relative;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 18rem;
    height: 30rem;
}

.grid-item img {
    max-width: 14rem; 
    height: 16rem;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.grid-item p {
    font-size: 1rem;
    color: #555;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.rating span {
    margin: 0 5px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.new-price {
    background-color: #BD1E51;
    color: white;

}

.used-price {
    background-color: #F1B814;
    color:#001730;
}

/* Styles carousel dots */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.carousel button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #490B3D;
}
.dots {
    display: flex;
    gap: 10px;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: #490B3D;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background-color: #BD1E51;
}

/* Styles Featured */

.container-featured-books {
    display: none;
}

.featured-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    background-color: #fff;
}

.featured-book, .featured-book-info {
    flex: 1 1 100%;
    margin: 10px;
}

.featured-book {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-book img {
    max-width: 10rem;
    height: 15rem;
    border: 5px solid #F1B814;
    background-size: cover;
}

.featured-book-info {
    flex: 2;
    justify-content: center;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.2);
    padding: 20px;
    margin: 0 10px;
}

.featured-book-info h3 {
    margin: 0 0 20px;
}

.featured-book-info button {
    padding: 10px 20px;
    background-color: #BD1E51;
    border: none;
    color: white;
    cursor: pointer;
}

/* Styles Top Clients */

.contenedor-grid {
    display: grid;
    }
    
    .top-clients {
        margin-left: 1.5rem;
    }
    
.client-item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 0;
    background-color: white;
    margin: 20px 30px;
    padding: 20px;
    align-items: center;
    justify-content: end;
    }
    
.client-item img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    height: 250px;
    border: 5px solid #F1B814;
    border-radius: 8px;
    background-size: cover;
    }
    
.client-item .client-details {
    display: grid;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-height: 150px;
    max-height: 220px;
    }
.client-details .client-header {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 15px;
    }
.client-details .description {
    grid-column: 3;
    grid-row: 1;
    padding: 15px;
    }
.client-details .price-top {
    grid-column: 3;
    grid-row: 2;
    padding: 10px;
    }
.client-header {
    margin-bottom: 10px;
    }
    
.client-details h3 {
    font-size: 1.5rem;
    margin: 0;
    }
    
.client-details p {
    font-size: 1rem;
    margin: 0;
    color: #001730;
    }
    
.client-details .rating {
    color: #FFD700;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    }
    
.client-details .price-top {
    background-color: #BD1E51;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
    justify-self: end;
    min-width: 200px;
    }
    
.client-details button:hover {
    background-color: #a11a42;
    }


/* Styles Newsletter */

.newsletter {
    max-width: 100%;
    background-color: #F1B814;
    color: #001730;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
}

.newsletter h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    margin: 0 0 20px 0;
}

.newsletter form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
    flex: 1;
}

.input-group label {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: normal;
}

.newsletter form input,
.newsletter form button {
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #001730;
    width: 12.5rem;
    box-sizing: border-box;
}

.newsletter form input {
    font-weight: lighter;
    margin-bottom: 10px;
}

.newsletter form button {
    background-color: #BD1E51; 
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    flex: 1;
    max-width: 12.5rem;
}


/* Styles Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #001730;
    font-size: 20px;
    font-weight: normal;
}

.contact-us {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

/* Styles Countries */

.countries-section {
    background-color: #F1B814;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countries-section h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}


.countries-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.countries-section ul li {
    margin: 0;
}

.countries-section ul li a {
    text-decoration: none;
    color: #001730;
    font-size: 14px;
    font-weight: bold;  
}


/* ====== MEDIA QUERIES ====== */

@media screen and (max-width: 352px){
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #F1B814;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}
        
.menu-togle {
    display: block;
    background-color: #F1B814;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
    
nav ul {
    display: none;      
}
        
.logo-container {
    display: flex;
    align-items: center;
}
        
.logo {
    width: 15rem;
    max-width: 320px;
    height: auto;
}    
    
/* Styles section hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    
.hero-image {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
.hero-text h1 {
    font-size: 2.6rem;
}
    
.hero-text p {
    font-size: 1.2rem;
}
    
.search-box {
    max-width: 100%;
}
    
.search-box form button {
    background-color: #BD1E51; 
    color: white;
    border: none;
    cursor: pointer;
}
    
/* Styles Categories */
    
.categories {
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles meilleures ventes */ 

.grid-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

.grid-item {
    width: 15rem;
    height: auto;
}

/* Styles featured */

.container-featured-books {
    display: none;
}

.featured-books {
    flex-direction: column;
    padding: 10px;
}

.featured-book img {
    display: none;
    flex-direction: column;
}

.featured-book-info {
    margin: 10px 0;
}

.featured-book-info button{
    width: 18rem;
}

/* Styles Top Clients */

.client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    margin: 20px 0;
    gap: 20px;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.client-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.client-details p {
    text-align: center;
}

.client-details button {
    align-self: center;
    width: 18rem;
}    

.client-item .client-details {
    display: flex;
    background-color: transparent;
    box-shadow: none;
    min-height: auto;
    max-height: 500px;
}

.client-details .rating {
    justify-content: center;
}
  

/* Styles Newsletter */

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* Styles Footer */

footer {
    flex-direction: column-reverse;
    align-items: start;
    margin: 15px;
    padding: 0;
}

}

/* Small Phones (x to 480px) */
@media screen and (min-width: 353px) and (max-width: 767px){

/* Styles nav + logo */

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #F1B814;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    text-align: center;
}
    
.menu-togle {
    display: block;
    background-color: #F1B814;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

nav ul {
    display: none;
}
    
.logo-container {
    display: flex;
    align-items: center;
}
    
.logo {
    width: 20rem;
    max-width: 400px;
    height: auto;
}

/* Styles section hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.hero-image {
    width: 100%; 
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-text h1 {
    font-size: 2.6rem;
}

.hero-text p {
    font-size: 1.2rem;
}

.search-box {
    max-width: 100%;
}


.search-box form button {
    background-color: #BD1E51; 
    color: white;
    border: none;
    cursor: pointer;
}

/* Styles Categories */

.categories {
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles meilleures ventes */  

.grid-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

.grid-item {
    height: auto;
}

/* Styles Featured */

.featured-books {
    flex-direction: column;
}

.featured-book {
    display: none;
}

.featured-book-info {
    margin: 10px 0;
}

.featured-book-info button{
    width: 18rem;
}

.container-featured-books {
    display: none;
}

/* Styles Top Clients */

.client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;
    margin: 20px 0;
    gap: 20px;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.client-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.client-details p {
    text-align: center;
}

.client-details button {
    align-self: center;
    width: 18rem;
}    

.client-item .client-details {
    display: flex;
    background-color: transparent;
    box-shadow: none;
    min-height: auto;
    max-height: 500px;
}

.client-details .rating {
    justify-content: center;
}


/* Styles Newsletter */

.newsletter {
    padding: 1rem;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* Styles Footer */

footer {
    flex-direction: column-reverse;
    align-items: start;
    margin: 1.25rem;
    padding: 0;
}
}


/* Tablets (768px - 1024) */
@media screen and (min-width: 768px) and (max-width: 1023px){

header {
    justify-content: center;
    align-items: center;
    background-color: #F1B814; 
    padding: 10px 20px;
}

.logo {
    padding-bottom: 15px;
}

    /* Styles section hero */  
     
.hero {
    flex-direction: column; 
    text-align: center;
}

.hero-text h1 {
    font-size: 2rem;
    padding-top: 2.5rem;
} 

.hero-text p {
    font-size: 1.2rem;
    padding-bottom: 2.5rem;
}

.hero-image { 
    width: 100%;
    height: 20rem;
}

.search-box {
    padding: 1rem;
    max-width: 100%;
    background-color: #F1B814;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    
.search-box h2 {
    margin: 0;
}
    
.search-box form {
    flex-direction: row; 
    gap: 0.75rem;
}
    

    /* Styles Featured books */

.featured-books {
    display: none;
}

.container-featured-books {
    display: contents;
}

.book-section-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-section-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    
.book {
    display: flex;
    align-items: center;
}
    
.book img {
    width: 150px;
    height: 250px;
    margin: 0;
    border-radius: 8px;
    border: 5px solid #F1B814;
}
    
.book-info {
    width: 35rem;
    background-color: rgba(217, 217, 217, 0.2);
    padding: 1.25rem;
}
    
.book-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
    
.book-info button {
    background-color: #BD1E51;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
    
.book-info button:hover {
    background-color: #a11a42;
}

/* Styles meilleures ventes */

.grid-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.grid-item {
    height: auto;
}

/* Estilos top Clientes */

.client-item {
    grid-template-columns: 150px 1fr;
    gap: 20px;
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}
    
.client-item img {
    margin-right: 20px;    
}
    
.client-details {
    display: flex;
    flex-direction: column;
}
        
.client-details .rating {
    justify-content: left;
}
    
.client-details button {
    align-self: flex-end;
    margin-top: auto;
}
        
.client-item .client-details {
    background-color: transparent;
    box-shadow: none;
}
    
.client-item .client-details .client-header {
    padding: 0 0 30px 0;
}
    
.client-item .client-details .description {
    grid-column: 2;
    grid-row: 2;
    padding: 15px 0;
}
        
.client-item .client-details .price-top {
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    justify-self: self-start;
}
}

/* laptops (1024px and 1280) */
@media screen and (min-width: 1024px) and (max-width: 1280px){

header {
    justify-content: center;
    align-items: center;
    background-color: #F1B814; 
    padding: 10px 20px;
}

.logo {
    padding-bottom: 15px;
}

nav ul li a {
    font-size: 18px;
}

/* Styles meilleures ventes */  

.grid-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.grid-item {
    height: auto;
}

/* Styles Featured books */

.container-featured-books {
    display: none;
}
}